<!doctype html>
<html lang="ru" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskMe — Вопросы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <style>
        .vote-vertical {
        display: grid;
        grid-template-columns: 1fr;
        gap: .25rem;
        align-items: center;
        justify-items: center;
        }
        .vote-vertical .count {
        min-width: 2.25rem;
        text-align: center;
        font-weight: 600;
        }
        .answer-correct {
        border: 2px solid rgba(var(--bs-primary-rgb), .6);
        }

    </style>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
      <div class="container">
        <a class="navbar-brand fw-bold" href="/">Ask<span class="text-primary">Me</span></a>
        
        <form class="d-flex ms-10 my-2 my-lg-0 w-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Найти вопрос…" aria-label="Search">
                <button class="btn btn-primary" type="submit">Поиск</button>
            </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Переключить навигацию">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="topnav">

          <ul class="navbar-nav ms-auto d-flex">
               {% block user%}
               {%if user%}
              <li class="nav-item"><a class="nav-link" href="/ask">Задать вопрос</a></li>
              <li class="nav-item">
                  <div class="d-flex align-items-center"> 
                      <a class="nav-link" href="/user">
                          <img id="avatarPreview"
                              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4JCuHyuURcCyeNEc9v4iOma3HVgZgDSMaIQ&s"
                              alt="Avatar preview"
                              class="img-thumbnail rounded"
                              width="50" height="50">
                      </a> <!-- closing a tag -->
                      <div class="d-flex flex-column align-items-center">
                          <label class="nav-item">
                              {{user.name}}
                          </label>
                          <a href="/login">
                              Выйти
                          </a>
                      </div>
                  </div>
              </li>
              {%else%}
              <div class="d-flex align-items-center gap-3">
                  <a href="/login">
                        Войти
                    </a>
                  <a href="/signup">
                      Зарегистрироваться
                  </a>
              </div>
              {%endif%}

              {% endblock%}
          </ul>
        </div>
      </div>
    </nav>

    <main class="container my-4">
      <div class="row gy-5">
        <div class="col-lg-8 order-2 order-lg-1">
            {%block content%} {%endblock%}
        </div>

        <aside class="col-lg-4 order-1 order-lg-2">
          <div class="card shadow-sm mb-3">
            <div class="card-header fw-semibold">Популярные теги</div>
            <div class="card-body">
              <div class="tag-cloud">
                {%for tag in popular_tags%}
                  <span class="badge text-bg-secondary">{{tag.name}}</span>
                {%endfor%}
              </div>
            </div>
          </div>

          <div class="card shadow-sm">
            <div class="card-header fw-semibold">Лучшие участники</div>
            <ul class="list-group list-group-flush">
              {%for user in best_users%}
                <li class="list-group-item bg-body"> <a href="./users/{{user.id}}">{{user.nickname}}</a> — {{user.count}} реп.</li>
              {%endfor%}
            </ul>
          </div>
          
        </aside>
      </div>
    </main>
    <footer class="border-top py-4 mt-5 ">
      <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between gap-2">
        <span class="text-body-secondary">© 2025 AskMe</span>
        <div class=" d-flex gap-3">
          <a href="#" class="link-secondary">О проекте</a>
          <a href="#" class="link-secondary">Правила</a>
          <a href="#" class="link-secondary">Контакты</a>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
