{% extends 'base.html' %}

{%block content%}
    {%block question_title%}
    <h2>
        <span class="badge text-bg-primary"> new</span>
        <span class="badge text-bg-secondary"> 
            <a class="link-light text-decoration-none" href="{{URL_HOT_QUESTION}}">hot</a> 
        </span> 
    </h2>
    {%endblock%}
    {%for question in questions%}
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 col-sm-3 col-md-2 col-lg-2 d-flex flex-sm-column align-items-center gap-3">
                        <img src="{{question.author.img_url}}" alt="Аватар автора" class="img-thumbnail rounded w-75">
                        <div class="vote-vertical">
                            <button class="btn btn-outline-secondary btn-sm h-75 d-flex align-items-center justify-content-center" type="button" aria-label="Голосовать за ответ">
                                <i class="bi bi-chevron-up"></i>
                            </button>
                            <div class="count">{{question.likes}}</div>
                            <button class="btn btn-outline-secondary btn-sm h-75 d-flex align-items-center justify-content-center" type="button" aria-label="Голосовать против ответа">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-sm">
                            <a class="h5 link-light text-decoration-none d-block mb-2" href="{{URL_QUESTION}}/{{question.id}}">
                            {{question.title}}
                        </a>
                        <div class="mb-2">
                            {%for tag in question.tags%}
                                <span class="badge text-bg-secondary">
                                    <a class="text-decoration-none link-light" href="{{URL_HOT_TAGS}}/{{tag.id}}">{{tag.name}}</a>
                                </span>
                            {%endfor%}
                        </div>
                        <div class="question-meta text-body-secondary mb-2">
                            <small>Автор: <a href="{{URL_USER}}" class="link-secondary">{{question.author.nickname}}</a></small>
                            <small><time datetime="{{question.created_at}}"></time></small>
                        </div>
                        <div class="h6 mb">
                            Ответов:{{question.answers_count}}
                        </div>
                        <p class="mb-0 mt-2 text-secondary">
                            {{question.text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
    {%block pagination%}
      {% include 'pagination.html' %}
    {%endblock%}

{%endblock%}