{% extends 'base.html' %}

{%block content%}
    <h4>
        {%block question_title%}
            <span class="badge text-bg-primary"> Новые</span>
            <span class="badge text-bg-secondary"> 
                <a class="link-light text-decoration-none" href="{{URL_HOT_QUESTION}}">Популярные</a> 
            </span> 
        {%endblock%}
    </h4>
    {%for question in questions%}
      <article class="card mb-3 shadow-sm">
        <div class="card-body p-3">
          <div class="d-flex gap-3 flex-column">
            <div class="d-flex">
                <div>
                    <div class="me-3">
                    <a href="{{ URL_USER }}/{{ question.author.id }}">
                        <img src="{{ question.author.profile.img_url or url_for('static', path='/images/default-avatar.png') }}"
                            alt="avatar"
                            class="rounded-circle"
                            width="56" height="56"
                            style="object-fit:cover;">
                    </a>
                    </div>
                </div>
                <header>
                    <div>
                    <a href="{{ URL_QUESTION }}/{{ question.id }}" class="text-decoration-none">
                        <h5 class="mb-1 text-light">{{ question.title }}</h5>
                    </a>
                    <div class="mb-2">
                        {% for tag in question.tags %}
                        <a class="badge bg-dark text-decoration-none me-1" href="{{ URL_HOT_TAGS }}/{{ tag.id }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    </div>
              </header>
            </div>
               <div>
                    <div class="small text-body-secondary d-flex align-items-center" style="gap:.6rem;">
                        <a class="d-flex align-items-center text-decoration-none link-secondary" href="{{ URL_USER }}/{{ question.author.id }}">
                            <strong class="me-2 small">{{ question.author.profile.nickname }}</strong>
                        </a>
                        <span class="text-muted">•</span>
                        <time datetime="{{ question.created_at.isoformat() }}">{{ question.created_at.strftime("%d-%m-%Y %H:%M") }}</time>
                    </div>
                </div>
            <div class="flex-grow-1">
              
              <p class="mb-2 text-muted small" style="line-height:1.4; max-height:4.2em; overflow:hidden;">
                {{ question.text }}
              </p>

               <div class="d-flex align-items-center" style="gap:.5rem;">
                  <button class="btn btn-outline-secondary btn-sm d-flex align-items-center" type="button" aria-label="like">
                    <i class="bi bi-hand-thumbs-up me-1"></i>
                    <span class="small text-muted">{{ question.likes_count or 0 }}</span>
                  </button>

                  <a href="{{ URL_QUESTION }}/{{ question.id }}" class="btn btn-outline-secondary btn-sm d-flex align-items-center text-decoration-none">
                    <i class="bi bi-chat-left-dots me-1"></i>
                    <span class="small text-muted">{{ question.answers_count or 0 }}</span>
                  </a>
                </div>

             
            </div>
          </div>
        </div>
      </article>
    {%endfor%}
    {%block pagination%}
      {% include 'pagination.html' %}
    {%endblock%}

{%endblock%}