{% extends 'form.html' %}

{%block form_label%} 
Login 
{%endblock%}

{% block form_content %}
  <form action="/login" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
    <div class="col-12">
        <div class="d-flex align-items-center justify-content-between gap-2">
            <label for="email" class="form-label col-sm-3">Email</label>
            <div class="col-sm-9">
                <input type="email" id="email"  name="email" value="{{email}}" class="form-control" required>
                <div class="invalid-feedback">Введите корректный email.</div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="d-flex align-items-center justify-content-between gap-2">
            <label for="password" class="form-label col-sm-3">Password</label>
            <div class="col-sm-9">
                <input type="password" id="password" name="password"  value="{{password}}" class="form-control" required>
                <div class="invalid-feedback">Введите корректный password.</div>
            </div>
        </div>
    </div>

    <div class="col-12 mt-2">
      <button class="btn btn-primary " type="submit">Войти</button>
      <a class="col-sm-9 ms-4" href="{{URL_SIGNUP}}">
        Создать новый аккаунт
      </a>
    </div>

  </form>

{% endblock %}
