{% extends 'form.html' %}

{%block form_label%} 
  Регистрация 
{%endblock%}


{% block form_content %}
<form action="{{URL_SIGNUP}}" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
  <div class="col-12">
      <div class="d-flex align-items-center justify-content-between gap-2">
          <label for="email" class="form-label col-sm-3">Email</label>
          <div class="col-sm-9">
              <input type="email" id="email" name="email" class="form-control" value="{{email|default('')}}" required>
              <div class="invalid-feedback">Введите корректный email.</div>
          </div>
      </div>
  </div>

  <div class="col-12">
      <div class="d-flex align-items-center justify-content-between gap-2">
          <label for="nickname" class="form-label col-sm-3">Name</label>
          <div class="col-sm-9">
              <input type="text" id="nickname" name="nickname" class="form-control" value="{{nickname|default('')}}" required>
              <div class="invalid-feedback">Введите корректный name.</div>
          </div>
      </div>
  </div>

  <div class="col-12">
      <div class="d-flex align-items-center justify-content-between gap-2">
          <label for="password" class="form-label col-sm-3">Пароль</label>
          <div class="col-sm-9">
              <input type="password" id="password" name="password" class="form-control" value="{{password|default('')}}" required>
              <div class="invalid-feedback">Введите корректный password.</div>
          </div>
      </div>
  </div>

  <div class="col-12">
      <div class="d-flex align-items-center justify-content-between gap-2">
          <label for="password_confirm" class="form-label col-sm-3">Повторите пароль</label>
          <div class="col-sm-9">
              <input type="password" id="password_confirm" name="password_confirm" class="form-control" value="{{password_confirm|default('')}}" required>
              <div class="invalid-feedback">Введите корректный password.</div>
          </div>
      </div>
  </div>

  <!-- скрытое поле continue_url (если нужно) -->
  <input type="hidden" name="continue_url" value="{{continue_url|default('')}}" />

  <div class="col-12 mt-3 align-items-center">
    <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
    <a class="col-sm-9 ms-4" href="{{URL_LOGIN}}">Войти</a>
  </div>
</form>
{% endblock %}