{% extends 'form.html' %}

{%block form_label%} 
  Настройки пользователя
{%endblock%}


{% block form_content %}
<form action="/profile/edit" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
  <!-- <div class="col-12">
    <label for="login" class="form-label">Login</label>
    <input type="text" id="login" name="login" class="form-control" value="" required>
    <div class="invalid-feedback">Укажите логин.</div>
  </div> -->

  <div class="col-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" id="email" name="email" class="form-control" value="{{user.email}}" required>
    <div class="invalid-feedback">Введите корректный email.</div>
  </div>

  <div class="col-12">
    <label for="nickname" class="form-label">NickName</label>
    <input type="text" id="nickname" name="nickname" class="form-control" value="{{user.profile.nickname}}" required>
    <div class="invalid-feedback">Укажите никнейм.</div>
  </div>
  <input  class="form-control" type="hidden" name="csrf_token" id="csrf_token" value="{{CSRF_TOKEN}}" readonly>

  <div class="col-12">
    <label class="form-label d-block">Upload avatar</label>

    <div class="d-flex align-items-start gap-3 flex-wrap">
      <img id="avatarPreview"
            src="{{user.profile.img_url}}"
            alt="Avatar preview"
            class="img-thumbnail rounded"
            width="140" height="140">
      <div class="flex-grow-1">
        <div class="input-group">
          <input class="form-control" type="file" id="avatar" name="avatar" accept="image/*" aria-label="Choose avatar">
          <button class="btn btn-outline-secondary" type="button" id="btn-choose">choose</button>
        </div>
        <small class="text-body-secondary d-block mt-2">PNG/JPG, до 5 МБ.</small>
      </div>
    </div>
  </div>

  

  <div class="col-12 mt-2">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>

</form>

{% endblock %}
